#content {
    width: 600px;
    height: 600px;
    border: 1px solid #a79c9c;
    position: relative;
    
  }
  
  #rectangle {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: rgb(212, 26, 135);
    cursor: grabbing;
  }
  .rectangle {
    border: 2px solid #FF0000;
    position: absolute;
}
  h1{
    text-align: center;
  }
  